@use "../../../../styles/variables" as *;

.wrapper {
    //padding: 1rem;
    //border: 1px solid $color-dark;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    gap: $gap-small;

    .mediaWrapper {
        border: 1px solid $color-dark; //
        //border-bottom: none;
        border-radius: $border-radius $border-radius 0 0;
        position: relative;
        z-index: 2;
    }

    .stepBtns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: -1px; //
        z-index: 0;

        button {
            border: 1px solid $color-grey;
            //border-top: 4px solid $color-orange;
            background-color: $color-light;
            padding: 0.5rem 0;
            font-size: 1.3rem;
            appearance: none;
            -webkit-appearance: none;
            outline: none;
            border-radius: 0 0 $border-radius $border-radius;
            position: relative;
            z-index: 1;
            letter-spacing: 0.1rem;

            &.middleBtn {
                border-left: none;
                border-right: none;
            }

            &.active {
                border: 1px solid $color-dark; //

                border-top: none;
                position: relative;
                z-index: 3;
                background-color: $color-light;
                //background-color: rgba($color-orange, 0.1);
                //color: $color-light;

                box-shadow: 0px 5px 5px rgba($color-orange, 0.2);
            }
        }
    }

    .logTextWrapper {
        padding: 1rem;
        //background-color: $color-grey;
        //border: 1px solid $color-dark;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        gap: $gap-xs;

        .logNumber {
            @include h4-styles;
        }
    }
}
