@use "../../../styles/variables" as *;

.wrapper {
    display: flex;
    justify-content: start;
    width: 100%;
}

.spinner {
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 5px solid rgba($color-grey, 0.2);
    border-top: 5px solid $color-orange;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
