@use "../styles/variables" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    background-color: $color-light;
    font-family: var(--font-main), sans-serif;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
    @include p-styles;
}

button,
input,
select,
textarea {
    font: inherit;
}

p {
    @include p-styles;
}

h1 {
    @include h1-styles;
    font-weight: 400;
}

h2 {
    @include h2-styles;
    font-weight: 400;
}

h3 {
    @include h3-styles;
    font-weight: 400;
}

h4 {
    @include h4-styles;
    font-weight: 400;
}
