@use "../../../styles/variables" as *;

.notFoundWrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
}

.errorPageBtn {
    @include btnStyles;
    max-width: fit-content;
}
